# LyX files.
*.lyx
*.lyx~
*.lyx#
# Compiled DjVu Files.
*.dvi
# Configuration and Backup Files.
*.bak
*.ini
*.bak0
*.log
# Compiled PDF
System_Architechtures_Notes/Picture/COMPILER_DIAGRAM.pdf
System_Architechtures_Notes/Picture/FUNCTIONAL_UNIT.pdf
